<div ng-controller="app.views.account.lostPassword as vm">
    <form ng-submit="submit()" name="form" class="form-horizontal">
        <h2>Reset password</h2>
        <div class="form-group" ng-class="{'has-error': form.email.$dirty && form.email.$invalid, 'has-success': form.email.$dirty && !form.email.$invalid}">
            <label for="lostPassword-email" class="control-label col-xs-2">Email:</label>
            <div class="col-xs-10">
                <input type="email" name="email" ng-model="user.email" id="lostPassword-email" class="form-control" required />
                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Enter email.</span>
                <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Please enter a valid email address.</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Reset password</button>
    </form>
</div>
