<div ng-controller="app.views.account.resetPassword as vm">
    <form ng-submit="submit()" name="form" class="form-horizontal">
        <h2>Change password</h2>
        <div class="form-group" ng-class="{'has-error': form.password.$dirty && form.password.$invalid, 'has-success': form.password.$dirty && !form.password.$invalid}">
            <label for="register-password" class="control-label col-xs-2">Password:</label>
            <div class="col-xs-10">
                <input type="password" name="password" ng-model="model.password" id="register-password" class="form-control" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Enter new password.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': form.password_c.$dirty && form.password_c.$invalid, 'has-success': form.password_c.$dirty && !form.password_c.$invalid}">
            <label for="register-password-c" class="control-label col-xs-2">Confirm:</label>
            <div class="col-xs-10">
                <input type="text" name="password_c" ng-model="password_c" id="register-password-c" class="form-control" required />
                <span ng-show="form.password_c.$dirty && form.password_c.$error.required" class="help-block">Repeat password.</span>
                <span ng-show="form.password_c.$dirty && form.password_c.$error.equal && !form.password_c.$error.required" class="help-block">Password and confirmation must match.</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Save</button>
    </form>
</div>
