<div ng-controller="app.views.group.list as vm">
    <form ng-submit="void(0);" name="search" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-2">Search:</label>
            <div class="col-xs-10">
                <input type="text" name="groupName" ng-model="filterGroupName" class="form-control" ng-change="searchGroup()"></input>
            </div>
        </div>
    </form>

    <accordion close-others="false">
        <accordion-group ng-repeat="group in groups" is-open="group.$isOpen">
            <accordion-heading>
                <div>
                    {{group.groupName}}
                    <div style="float: right">
<!--
                        <button class="glyphicon glyphicon-pencil btn-link" ng-click="editGroup(group); $event.stopPropagation();"></button>
-->
                        <button class="glyphicon glyphicon-remove btn-link" ng-click="deleteGroup(group); $event.stopPropagation();"></button>
                    </div>
                </div>
            </accordion-heading>

            <button class="btn" ng-click="editGroup(group)">Rename group</button>
            <div class="clearfix">
                <div class="col-xs-6">
                    Users in group ({{group.users.length}}):
                    <ul>
                        <li ng-repeat="user in group.users">
                            {{user.userFirstName}} {{user.userLastName}}
                            <button class="btn glyphicon glyphicon-remove" ng-click="removeUserFromGroup(user, group)"></button>
                        </li>
                    </ul>
                    <form ng-submit="void(0);" name="search" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-2">Search:</label>
                            <div class="col-xs-10">
                                <input type="text" name="userName" ng-model="group.filterUserName" class="form-control" ng-change="searchUser(group)"></input>
                            </div>
                        </div>
                    </form>
                    <ul ng-if="group.filteredUsers">
                        <li ng-repeat="user in group.filteredUsers">
                            {{user.userFirstName}} {{user.userLastName}}
                            <button class="btn glyphicon glyphicon-plus" ng-click="addUserToGroup(user, group)" ng-if="!userInGroup(user, group)"></button>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    Tests in group ({{group.tests.length}}):
                    <ul>
                        <li ng-repeat="test in group.tests">
                            {{test.testName}}
                            <button class="btn glyphicon glyphicon-remove" ng-click="removeTestFromGroup(test, group)"></button>
                        </li>
                    </ul>
                    <form ng-submit="void(0);" name="search" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-2">Search:</label>
                            <div class="col-xs-10">
                                <input type="text" name="testName" ng-model="group.filterTestName" class="form-control" ng-change="searchTest(group)"></input>
                            </div>
                        </div>
                    </form>
                    <ul ng-if="group.filteredTests">
                        <li ng-repeat="test in group.filteredTests">
                            {{test.testName}}
                            <button class="btn glyphicon glyphicon-plus" ng-click="addTestToGroup(test, group)" ng-if="!testInGroup(test, group)"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </accordion-group>
    </accordion>
    <button type="button" class="btn" ng-click="editGroup(null)">Create new Group</button>
</div>

<script id="app.views.group.list.edit.html" type="text/ng-template">
    <form ng-submit="ok()" name="form" class="form-horizontal">
        <div class="modal-header">
            <h3 class="modal-title">{{model.isNew ? "Create" : "Edit"}} group</h3>
        </div>
        <div class="modal-body">
            <div class="form-group" ng-class="{'has-error': form.groupName.$dirty && form.groupName.$invalid, 'has-success': form.groupName.$dirty && !form.groupName.$invalid}">
                <label for="group-edit-name" class="control-label col-xs-2">Name:</label>
                <div class="col-xs-10">
                    <input type="text" name="groupName" ng-model="model.groupName" id="group-edit-name" class="form-control" required="required"></input>
                    <span ng-show="form.groupName.$dirty && form.groupName.$error.required" class="help-block">Enter group name.</span>
                </div>
            </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">{{model.isNew ? 'Create' : 'Update'}}</button>
            <button type="button" class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>
<script id="app.views.group.list.delete.html" type="text/ng-template">
    <form ng-submit="ok()" name="form" class="form-horizontal">
        <div class="modal-header">
            <h3 class="modal-title">Delete group</h3>
        </div>
        <div class="modal-body">
            Are you sure you want to delete group '{{model.groupName}}'?
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Delete</button>
            <button type="button" class="btn" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>

