
@{
    ViewBag.Title = "RoleIndex";   
}
<p>&nbsp;</p>
<div class="spacerBody">
    @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Role Manager", "RoleAddToUser")
    <h2>Role Index</h2>
    <table border="1" class="simple-little-table">
        <tr>
            <th>Role</th>
            <th>Operations</th>
        </tr>
            @foreach (string s in Model)
            {
                if (s != "None")
                {
                    <tr>
                        <td>
                            @s
                        </td>

                        <td>
                            @if (s == "Administrator")
                            {
                                <span onclick="return confirm('You cant delete Administrator!')">
                                    <a href="/Admin/RoleIndex" class="delLink">Delete</a>
                                </span>
                            }
                            else
                            {

                                <span onclick="return confirm('Are you sure to delete?')">
                                    <a href="/Admin/RoleDelete?RoleName=@s" class="delLink">Delete</a>
                                </span>

                            }
                            <a href="/Admin/RenameRoleAndUsers?RoleName=@s">Edit</a>
                        </td>
                    </tr>
                }
            }
        </table>
</div>
