<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
      name="DefaultConnection" connectionString="Server=is22004;Database=EducationProject_Live;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="SetAttributes" 
                  mode="Off"/>
  </system.web>
  
</configuration>