<div ng-controller="app.views.test.edit as vm">
    <h3 class="modal-title" ng-if="id == 'new'">Create test</h3>
    <h3 class="modal-title" ng-if="id != 'new'">Edit test</h3>
    <h4>{{model.testName}}<a ng-click="editTestName()">{{model.testName?'':'Please enter name of the test'}}<span class="glyphicon glyphicon-pencil"></span></a></h4>
    {{model.testDescription}}
    <div class="clearfix">
        <h3>Questions:</h3>
        <accordion close-others="false">
            <accordion-group ng-repeat="question in model.questions" is-open="question.$isopen" ng-class="{'panel-danger': question.$error}">
                <accordion-heading>
                    <div class="width:100%">
                        {{ (question.$isopen ? question.questionText : (question.questionText || question.questionDescription)) || "-- no text --"}}
                        <div style="float: right">
                            <button class="glyphicon glyphicon-pencil btn-link" ng-click="editQuestion(question); $event.stopPropagation();"></button>
                            <button class="glyphicon glyphicon-remove btn-link" ng-click="deleteQuestion(question); $event.stopPropagation();"></button>
                        </div>
                    </div>
                </accordion-heading>
                {{ question.questionDescription || "-- no description --" }}
                <h4 ng-if="question.questionTypeCode != 'TextAnswer' || question.answers.length > 0">Answers:</h4>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="answer in question.answers">
                            <td>
                                {{answer.answerText}}
                            </td>
                            <td>
                                <button class="glyphicon glyphicon-ok btn-link text-success" ng-if="answer.answerScore > 0" ng-click="vm.toggleAnswerRight(question, answer)">Answer is correct.{{answer.answerScore != 1? ' (score: ' + answer.answerScore + ')' : ''}}</button>
                                <button class="glyphicon glyphicon-remove btn-link text-warning" ng-if="answer.answerScore <= 0" ng-click="vm.toggleAnswerRight(question, answer)">Answer is wrong.</button>
                            </td>
                            <td>
                                <button class="glyphicon glyphicon-pencil btn-link" ng-click="editAnswer(answer, question)"></button>
                                <button class="glyphicon glyphicon-remove btn-link" ng-click="deleteAnswer(answer, question)"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn" ng-click="editAnswer(null, question)" ng-if="question.questionTypeCode != 'TextAnswer'">Create new Answer</button>
            </accordion-group>
        </accordion>
        <button type="button" class="btn" ng-click="editQuestion(null)">Create new Question</button>
    </div>
    <div class="clearfix">
        <h3>Ratings:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Min score</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rating in model.ratings">
                    <td>{{rating.ratingTitle}}</td>
                    <td>{{rating.ratingLowerBound}}</td>
                    <td>
                        <button class="glyphicon glyphicon-pencil btn" ng-click="editRating(rating)"></button>
                        <button class="glyphicon glyphicon-remove btn" ng-click="deleteRating(rating)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn" ng-click="editRating(null)">Add rating</button>
    </div>
    <div class="pull-right">
        <button class="btn btn-primary" ng-click="save()">{{id=='new' ? "Create" : "Update"}}</button>
        <a class="btn" ui-sref="test.list">Cancel</a>
    </div>
    <script id="app.views.test.edit.question.html" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">{{model.isNew ? "Create" : "Edit"}} question</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': form.questionText.$dirty && form.questionText.$invalid, 'has-success': form.questionText.$dirty && !form.questionText.$invalid}">
                    <label for="question-edit-text" class="control-label col-xs-2">Text:</label>
                    <div class="col-xs-10">
                        <input type="text" name="questionText" ng-model="model.questionText" id="question-edit-text" class="form-control"></input>
                        <span ng-show="form.questionText.$dirty && form.questionText.$error.required" class="help-block">Enter text.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.questionDescription.$dirty && form.questionDescription.$invalid, 'has-success': form.questionDescription.$dirty && !form.questionDescription.$invalid}">
                    <label for="question-edit-description" class="control-label col-xs-2">Description:</label>
                    <div class="col-xs-10">
                        <input type="text" name="questionDescription" ng-model="model.questionDescription" id="question-edit-description" class="form-control"></input>
                        <span ng-show="form.questionDescription.$dirty && form.questionDescription.$error.required" class="help-block">Enter description.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.questionType.$dirty && form.questionType.$invalid, 'has-success': form.questionType.$dirty && !form.questionType.$invalid}">
                    <label for="question-edit-questionType" class="control-label col-xs-2">Type of Question:</label>
                    <select ng-change="" ng-model="model.questionType" id="question-edit-questionType" required>
                        <option value="SingleAnswer">Single answer(Radio)</option>
                        <option value="MultipleAnswers">Multiple answers (Checkbox)</option>
                        <option value="TextAnswer">Custom answer (Textbox)</option>
                    </select>
                    <span ng-show="form.questionType.$dirty && form.questionType.$error.required" class="help-block">Choose question type.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">{{model.isNew ? 'Create' : 'Update'}}</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script id="app.views.test.edit.deleteQuestion.html" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Delete question</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to delete question '{{model.questionText || model.questionDescription}}'?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Delete</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script id="app.views.test.edit.name.html" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Enter test name and description</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': form.testName.$dirty && form.testName.$invalid, 'has-success': form.testName.$dirty && !form.testName.$invalid}">
                    <label for="test-edit-text" class="control-label col-xs-2">Name:</label>
                    <div class="col-xs-10">
                        <input type="text" name="testName" ng-model="model.testName" id="test-edit-text" class="form-control" required="required"></input>
                        <span ng-show="form.testName.$dirty && form.testName.$error.required" class="help-block">Enter name of the test.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.testDescription.$dirty && form.testDescription.$invalid, 'has-success': form.testDescription.$dirty && !form.testDescription.$invalid}">
                    <label for="test-edit-text" class="control-label col-xs-2">Description:</label>
                    <div class="col-xs-10">
                        <input type="text" name="testDescription" ng-model="model.testDescription" id="test-edit-text" class="form-control"></input>
                        <span ng-show="form.testDescription.$dirty && form.testDescription.$error.required" class="help-block">Enter description.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.testType.$dirty && form.testType.$invalid, 'has-success': form.testType.$dirty && !form.testType.$invalid}">
                    <label for="test-edit-text" class="control-label col-xs-2">Type:</label>
                    <div class="col-xs-10">
                        <select ng-change="" ng-model="model.testType" id="test-edit-testType">
                            <option value="A">Test type A</option>
                            <option value="B">Test type B</option>
                            <option value="C">Test type B</option>
                        </select>
                        <span ng-show="form.testType.$dirty && form.testType.$error.required" class="help-block">Enter text.</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Update</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script id="app.views.test.edit.answer.html" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">{{model.isNew ? "Create" : "Edit"}} answer</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': form.answerText.$dirty && form.answerText.$invalid, 'has-success': form.answerText.$dirty && !form.answerText.$invalid}">
                    <label for="answer-edit-text" class="control-label col-xs-2">Text:</label>
                    <div class="col-xs-10">
                        <input type="text" name="answerText" ng-model="model.answerText" id="answer-edit-text" class="form-control" required="required"></input>
                        <span ng-show="form.answerText.$dirty && form.answerText.$error.required" class="help-block">Enter text.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.answerScore.$dirty && form.answerScore.$invalid, 'has-success': form.answerScore.$dirty && !form.answerScore.$invalid}">
                    <label for="answer-edit-answerScore" class="control-label col-xs-2">Score:</label>
                    <div class="col-xs-10">
                        <input type="number" ng-model="model.answerScore" id="answer-edit-answerScore" required="required"/>
                        <span ng-show="form.answerScore.$dirty && form.answerScore.$error.required" class="help-block">Enter score.</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">{{model.isNew ? 'Create' : 'Update'}}</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script id="app.views.test.edit.deleteAnswer.html" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Delete answer</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to delete answer '{{model.answerText}}'?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Delete</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script id="app.views.test.edit.rating.html" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">{{model.isNew ? "Create" : "Edit"}} rating</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': form.ratingTitle.$dirty && form.ratingTitle.$invalid, 'has-success': form.ratingTitle.$dirty && !form.ratingTitle.$invalid}">
                    <label for="rating-edit-title" class="control-label col-xs-2">Title:</label>
                    <div class="col-xs-10">
                        <input type="text" name="ratingTitle" ng-model="model.ratingTitle" id="rating-edit-title" class="form-control" required="required"></input>
                        <span ng-show="form.ratingTitle.$dirty && form.ratingTitle.$error.required" class="help-block">Enter title.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.ratingScore.$dirty && form.ratingScore.$invalid, 'has-success': form.ratingScore.$dirty && !form.ratingScore.$invalid}">
                    <label for="rating-edit-score" class="control-label col-xs-2">Min score:</label>
                    <input type="number" name="ratingScore" ng-model="model.ratingScore" id="rating-edit-score" class="form-control" required="required"></input>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">{{model.isNew ? 'Create' : 'Update'}}</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script id="app.views.test.edit.deleteRating.html" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Delete rating</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to delete rating '{{model.ratingTitle}}'?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Delete</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
</div>
