<div ng-controller="app.views.test.edit as vm">
 <accordion close-others="oneAtATime">
        <accordion-group ng-repeat="test in tests">
            <accordion-heading>
                {{test.testName}}
                <div style="float: right">
                    <a class="glyphicon glyphicon-pencil" ui-sref="test.edit({test: test.testId})"></a>
                    <a class="glyphicon glyphicon-remove" ng-click="deleteTest(test)"></a>
                    <a ui-sref="test.pass.question({test: test.testId, question: 1})">Answer</a>
                    <a class="glyphicon glyphicon-play" ng-click="start(test)">Start</a>
                </div>
            </accordion-heading>
            <div ng-repeat="question in test.questions" style="margin-bottom: 8px">
                <a ui-sref="question({test: test.testId})" ng-bind-html="question.questionText"></a>
                <div style="float: right; border-color: gray;">
                    <a class="glyphicon glyphicon-pencil" ui-sref="test.edit({test: question.questionId})"></a>
                    <a class="glyphicon glyphicon-remove" ng-click="deleteQuestion(question)"></a>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="createQuestion(test.testId)">Create new Question</button>
        </accordion-group>
    </accordion>
    <button type="button" class="btn btn-primary" ng-click="createTest()">Create new test</button>
    <script id="app.views.test.list.add.html" style="display: none" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Create test</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': form.testName.$dirty && form.testName.$invalid, 'has-success': form.name.$dirty && !form.name.$invalid}">
                    <label for="test-add-name" class="control-label col-xs-2">Name:</label>
                    <div class="col-xs-10">
                        <input type="text" name="testName" ng-model="model.testName" id="test-add-name" class="form-control" required />
                        <span ng-show="form.testName.$dirty && form.testName.$error.required" class="help-block">Enter name.</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script id="app.views.question.list.add.html" style="display: none" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Create question</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': form.questionText.$dirty && form.questionText.$invalid, 'has-success': form.questionText.$dirty && !form.questionText.$invalid}">
                    <label for="question-add-text" class="control-label col-xs-2">Text:</label>
                    <div class="col-xs-10">
                        <input type="text" name="questionText" ng-model="model.questionText" id="question-add-text" class="form-control" required>{{model.questionText}}</input>
                        <span ng-show="form.questionText.$dirty && form.questionText.$error.required" class="help-block">Enter text.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.answer3.$dirty && form.answer3.$invalid, 'has-success': form.text.$dirty && !form.text.$invalid}">
                    <label for="question-add-questionType" class="control-label col-xs-2">Type of Question:</label>
                    <select ng-change="" ng-model="model.questionType" id="question-add-questionType" required>
                        <option value="0">Radio</option>
                        <option value="1">Checkbox</option>
                        <option value="2">Textbox</option>
                    </select>
                    <span ng-show="form.rightAnwser.$dirty && form.rightAnwser.$error.required" class="help-block">Choose question's type.</span>
                </div>
                <div class="form-group" ng-class="{'has-error': form.answers.$dirty && form.answers.$invalid, 'has-success': form.answers.$dirty && !form.answers.$invalid}">
                    <label for="question-add-answer0" class="control-label col-xs-2">Answers:</label>
                    <div add-answer class="col-xs-10">
                        <button>Add Answer</button>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': form.rightAnwser.$dirty && form.rightAnwser.$invalid, 'has-success': form.text.$dirty && !form.text.$invalid}">
                    <label for="question-add-rightAnswer" class="control-label col-xs-2">Right answer:</label>
                    <select ng-change="" ng-model="model.rightAnwser" id="question-add-rightAnswer" required>
                        <option value="0">1</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                    </select>
                    <span ng-show="form.rightAnwser.$dirty && form.rightAnwser.$error.required" class="help-block">Choose right answer.</span>
                </div>
                <div class="form-group" ng-class="{'has-error': form.questionDescription.$dirty && form.questionDescription.$invalid, 'has-success': form.text.$dirty && !form.text.$invalid}">
                    <label for="question-add-questionDescription" class="control-label col-xs-2">Description:</label>
                    <div class="col-xs-10">
                        <input type="text" name="questionDescription" ng-model="model.questionDescription" id="question-add-questionDescription" class="form-control" required />
                        <span ng-show="form.questionDescription.$dirty && form.questionDescription.$error.required" class="help-block">Enter description.</span>
                    </div>
                </div>            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script id="app.views.question.list.delete.html" style="display: none" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Delete question</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to delete question '{{model.questionText}}'?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Delete</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
</div>
