<div ng-controller="app.views.test.exams as vm">
    <accordion close-others="true">
        <accordion-group ng-repeat="test in tests">
            <accordion-heading>
                {{test.testName}}
                <div style="float: right">
                    <a ui-sref="test.pass.question({test: test.testId, question: 1})" ng-if="vm.results[test.testId].testResultStatusCode == 'InProgress'">Answer</a>
                    <a class="glyphicon glyphicon-play" ng-click="start(test)" ng-if="!vm.results[test.testId] || vm.results[test.testId].testResultStatusCode != 'InProgress'">Start</a>
                </div>
            </accordion-heading>
            <div style="margin-bottom: 8px">
                TODO: statistic info
            </div>
        </accordion-group>
    </accordion>
</div>
