<div ng-controller="app.views.test.exams as vm">
    <accordion close-others="true">
        <accordion-group ng-repeat="test in tests">
            <accordion-heading>
                {{test.testName}}
                <div style="float: right">
                    <a ui-sref="test.pass.question({test: test.testId, question: 1})" ng-if="vm.results[test.testId].testResultIsCompleted === false">Answer</a>
                    <a class="glyphicon glyphicon-play" ng-click="start(test)" ng-if="!vm.results[test.testId] || vm.results[test.testId].testResultIsCompleted">Start</a>
                </div>
            </accordion-heading>
            <div style="margin-bottom: 8px">
                TODO: statistic info
            </div>
        </accordion-group>
    </accordion>
    <a class="btn btn-primary" ui-sref="test.edit({test: 'new'})">Create new test</a>
    <script id="app.views.test.list.delete.html" style="display: none" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Delete test</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to delete test '{{model.testName}}'?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Delete</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
</div>
