<div ng-controller="app.views.test.list as vm">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="test in tests">
                <td><a ui-sref="question({test: test.testId})">{{test.testName}}</a></td>
                <td>
                    <a class="glyphicon glyphicon-pencil" ui-sref="test.edit({test: test.testId})"></a>
                    <a class="glyphicon glyphicon-remove" ng-click="delete(test)"></a>
                    <a ui-sref="test.answer.question({test: test.testId})">Answer</a>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" ng-click="create()">Create new test</button>
    <script id="app.views.test.list.add.html" style="display: none" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Create test</h3>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-class="{'has-error': form.testName.$dirty && form.testName.$invalid, 'has-success': form.name.$dirty && !form.name.$invalid}">
                    <label for="test-add-name" class="control-label col-xs-2">Name:</label>
                    <div class="col-xs-10">
                        <input type="text" name="testName" ng-model="model.testName" id="test-add-name" class="form-control" required />
                        <span ng-show="form.testName.$dirty && form.testName.$error.required" class="help-block">Enter name.</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Create</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
    <script id="app.views.test.list.delete.html" style="display: none" type="text/ng-template">
        <form ng-submit="ok()" name="form" class="form-horizontal">
            <div class="modal-header">
                <h3 class="modal-title">Delete test</h3>
            </div>
            <div class="modal-body">
                Are you sure you want to delete test '{{model.testName}}'?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Delete</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </script>
</div>
