<h3>
    <a class="glyphicon glyphicon-step-backward" ui-sref="test.pass.question({test: examination.testId, question: questionN - 1})" ng-if="questionN > 1"></a>
    Question # {{questionN}} / {{examination.questions.length}}
    <a class="glyphicon glyphicon-step-forward" ui-sref="test.pass.question({test: examination.testId, question: questionN + 1})" ng-if="questionN < examination.questions.length"></a>
</h3>
<div>{{question.questionDescription}}</div>
<ul ng-if="questionType == 'SingleAnswer'">
    <li ng-repeat="answer in question.answers">
        <input type="radio" value="{{answer.answerId}}" ng-model="$parent.$parent.answerId" name="question{{question.questionId}}" />
        {{answer.answerText}}
    </li>
</ul>
{{questionType}}
<ul ng-if="questionType == 'MultipleAnswers'">
    <li ng-repeat="answer in question.answers">
        <input type="checkbox" value="{{answer.answerId}}" ng-checked="answerIds.indexOf(answer.answerId) > -1" ng-click="checkAnswer(answer.answerId)" />
        {{answer.answerText}}
    </li>
</ul>
<button ng-click="next()">next</button>