<div ng-controller="app.views.test.result as result">
    <tabset>
        <tab heading="Users">
<div class="panel">
    <input type="text" ng-model="result.filter.userName" />
    <ul>
        <li ng-repeat="user in result.users" ng-class="{ active: $parent.user == user }">
            {{user.userFirstName}} {{user.userLastName}} - {{user.testResultStatusCode == "InProgress" ? "In Prodress" : "Completed"}}
        </li>
    </ul>
</div>
        </tab>
        <tab heading="Groups">

        </tab>
    </tabset>
</div>



