<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Server=localhost; Database=EduTesting; Trusted_Connection=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduTesting;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="EduTestingDbContext" connectionString="data source=(localdb)\v11.0;initial catalog=EduTesting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="EduTestingDbContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EduTest;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="EduTestingDbContext" connectionString="Data Source=is22004;Initial Catalog=EduTesting_Dev;user id=edudev;password=dev123;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>