@{
    ViewBag.Title = "TeacherSpace";
}
@model List<EducationalProject.Models.TestWrapper>

<h2>TeacherSpace</h2>
<h2>Add new test for testing</h2>

@using (Html.BeginForm("FileUpload", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
{    
    <div style="display: inline-block">            
        <label for="file">Upload File:</label>
        <input type="file" name="file" id="file" multiple />
    </div> 
   <div style="display: inline-block"> <input type="submit" value="Upload"/></div>
}

<table border="1" id="tblTests" class="simple-little-table">
        @if (Model.Count > 0)
        {
            <tr>
                <th class="tableHeader">Test Name</th>
                <th class="tableHeader">DateDownload</th>
                <th class="tableHeader">Order</th>
                <th class="tableHeader"></th>
            </tr>
            foreach (var item in Model)
            {
                <tr>
                    <td class="tableCell">@item.TestName </td>
                    <td class="tableCell">@item.DateDownload</td>
                    <td class="tableCell">@item.Order</td>
                    <td class="tableCell">
                        @Html.ActionLink("Delete", "DeleteTest", new { id = item.TestId }, new
                    {
                        onclick = "return confirm('Are you sure you want to delete this Test?');"
                    })
                    </td>
                </tr>
            }
        }
    </table>